fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
psycopg2-binary
pandas
numpy
matplotlib
seaborn
scikit-learn
langchain
faiss-cpu
tiktoken
openai
python-multipart
aiofiles
requests
python-dotenv
starlette
notebook
